
<body>
    
    <div class="content-container">
        <div class="top-right">
            <a routerLink="/login" class="login-link">Login</a>
        </div>
        <div class="text-content">
            <!-- <p>getstarted works!</p> -->
            <h1 class="display-2 fnt-mb mb-0 home-heading-text font-weight-800"> Event Scheduler </h1>
            <p class="text-primary display-5">
                For Quick Event Scheduling
            </p>
            <p class="lead mb-4 mb-md-8 mb-lg-11">Organise and conduct events on multiple platforms like face-to-face meetings, online video conferencing, and phone calls. Share the event link with members instantly and keep a close eye on confirmations.</p>
        </div>
<div class="video-content">
<video id="banner-intro" autoplay="" muted="" loop="" playsinline="" width="500" poster="//www.zohowebstatic.com/sites/zweb/images/backstage/home/banner-intro.webp" height="500"><source src="//www.zohowebstatic.com/sites/zweb/images/backstage/home/banner-intro.mov" type="video/quicktime" codec="hvc1"><source src="//www.zohowebstatic.com/sites/zweb/images/backstage/home/banner-intro.webm" type="video/webm"> Your browser does not support the video tag.</video>
</div>
</div>
