
form {
    width: 300px;
    margin: 0 auto;
  }
  

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  

  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  

  button[type="button"] {
    background-color: #ccc;
  }
  

  button:hover {
    background-color: #0056b3;
  }
h2{
    text-align: center;
}  

.edit-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.edit-buttons .edit-event-button {
  background-color: #007bff; 
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.edit-buttons .edit-event-button:hover {
  background-color: #0056b3; 
}


.edit-buttons .delete-event-button {
  background-color: #dc3545;
  color: #fff; 
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.edit-buttons .delete-event-button:hover {
  background-color: #c82333; 
}

.edit-buttons .add-reminder-button {
  background-color: #28a745; 
  color: #fff; 
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}


.edit-buttons .add-reminder-button:hover {
  background-color: #218838;
}
