.success-message{
    align-items: center;
    width: fit-content;
    padding: 20px;
    align-items: center;
    margin-left: 25rem;
    margin-top: 5rem ;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
