<!-- <p>invite-guests works!</p> -->
<header>
  <!--<img src="assets/es.PNG" width="300px" height="150px">-->
  <h1>Event Scheduler</h1>
  <nav>
    <ul>
      <li><a routerLink="/home">Home
        <img src="assets/home3.png" width="20px" height="20px">
      </a>
      </li>
      <li><a routerLink="/create">Events
        <img src="assets/event.png" width="20px" height="20px"></a></li>
      <li><a routerLink="/event-calendar">Calendar
        <img src="assets/calendar2.png" width="20px" height="20px"></a></li>
      <!--<li><a href="#">About</a></li>-->
      <li><a routerLink="/form">Form<img src="assets/form.png" width="20px" height="18px"></a></li>
      <li><a routerLink="/getstarted">LogOut<img src="assets/logout.png" width="20px" height="17px"></a></li>
    </ul>
  </nav>
</header>
<main>
<div class="invite-guests-section">
    <h2>Invite Guests</h2>
    <p>Invite friends and colleagues to your events</p>
    <div class="email-input">
      <input type="email" [(ngModel)]="guestEmail" placeholder="Enter email addresses" />
      <button class="invite-button" (click)="inviteGuest()">Invite</button>
    </div>
  </div>
</main>